<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/wish.css">

</head>

<body id="wish">


    <main class="px-3 d-flex justify-content-center py-5">
        <h1>Happy Birthday! Sally Molly<sub style="font-size:medium;">don't know a lot 'bout you but thought you would
                like
                it</sub></h1>

    </main>

    <main class="d-flex justify-content-center">
        <p class="lead">A wish for you on your birthday, whatever you ask may you receive, whatever you seek may you
            find,<br> whatever you wish may it be fulfilled on your birthday and always! <br> May the joy that you have
            spread in the past come back to you on this day.<br>
            Your life is just about to pick up speed and blast off into the stratosphere.<br> Wear a seat belt and be
            sure
            to enjoy the journey. Happy birthday!</p>
    </main>

    <h3 class="d-flex justify-content-center">How would you like to repond to his wish MYLADY!</h3>

    <div class="conatiner-fluid">
        <div class="row d-flex align-items-center ">
            <div class="col-12 col-md-6 offset-md-3">
                <a class="nav-link my-5" href="/wlogin/optionone"><b>
                        <h2>The best birthday wish ever!</h2>
                    </b><sub>PROBABLY NOT</sub></a>
                <a class="nav-link my-5" href="/wlogin/optiontwo"><b>
                        <h2>Thank You very much</h2>
                    </b></a>
                <a class="nav-link my-5" href="/wlogin/optionthree"><b>
                        <h2>What the heck is he doing!</h2>
                    </b><sub>UHOH!! :(</sub></a>
            </div>
        </div>


    </div>
    </div>

</body>

</html>