<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/wish.css">
</head>

<body id="wishlogin">
    <div class="row">
        <div class="col-md-4 offset-md-4 ">
            <div class="card mt-5">

                <div class="card shadow">
                    <img src="https://res.cloudinary.com/dqxnxg08n/image/upload/v1609316785/samples/landscapes/amir-barzegar-2_LZakr81HA-unsplash_ogp9ks.jpg"
                        class="card-image-top">

                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Login</h5>
                        <form action="/wlogin" method="POST">
                            <div class="mb-3">
                                <label class="form-label" for="password">Password:</label>
                                <input class="form-control" type="password" placeholder="password" name="password"
                                    id="password" required>
                            </div>
                            <button class="btn btn-success btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>