<% layout("layout/boilerplate") -%>
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-md-4 offset-md-4 ">
            <div class="card mb-3">

                <div class="card shadow">
                    <img src="https://res.cloudinary.com/dqxnxg08n/image/upload/v1609238928/samples/landscapes/pexels-cliford-mervil-2398220_arkrta.jpg"
                        class="card-image-top">

                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Login</h5>
                        <form novalidate class="needs-validation" action="/login" method="POST">
                            <div class="mb-3">
                                <label class="form-label" for="username">Username:</label>
                                <input class="form-control" type="text" placeholder="username" name="username"
                                    id="username" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password:</label>
                                <input class="form-control" type="password" placeholder="password" name="password"
                                    id="password" required>
                            </div>
                            <button class="btn btn-success btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>